<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" /> <!-- To be populated -->
    <meta name="description" content="" /><!-- To be populated -->
    <meta name="author" content="khsoft" />
    <meta name="copyright" content="&copy, 2016" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/img/Home/favicon.ico" type="image/x-icon">

    <link href="~/Content/Home/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Home/sell-css/style.css" rel="stylesheet">
    <link href="~/Content/Home/sell-css/default.css" rel="stylesheet">

    <!-- Font awesome -->
    <link href="~/Content/Home/css/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/Content/Home/css/bootstrap.css" rel="stylesheet">
    <!-- slick slider -->
    <link rel="stylesheet" type="text/css" href="~/Content/Home/css/slick.css">
    <!-- price picker slider -->
    <link rel="stylesheet" type="text/css" href="~/Content/Home/css/nouislider.css">
    <!-- Theme color -->
    <link id="switcher" href="~/Content/Home/css/theme-color/default-theme.css" rel="stylesheet">

    <!-- Main style sheet -->
    <link href="~/Content/Home/css/style.css" rel="stylesheet">

    

   

    @*<title>@ViewBag.Title - @Resources.App_WebAppName</title>*@
    <title>Home Property</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquerytemplate")
    @Scripts.Render("~/bundles/app")

</head>
<body class="aa-price-range">
    <!-- Pre Loader -->
    <div id="aa-preloader-area">
        <div class="pulse"></div>
    </div>
    <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a>
    <!-- END SCROLL TOP BUTTON -->
    <!-- Start header section -->
    <header id="aa-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-header-area">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="aa-header-left">
                                    <div class="aa-telephone-no">
                                        <span class="fa fa-phone"></span>
                                        1-900-523-3564
                                    </div>
                                    <div class="aa-email hidden-xs">
                                        <span class="fa fa-envelope-o"></span> info@markups.com
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="aa-header-right">
                                    <a href="/Account/Register" class="aa-register">Register</a>
                                    <a href="/Account/Login" class="aa-login">Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <div id="navigation">
        <!-- Start menu section -->
        <section id="aa-menu-area">
            <nav class="navbar navbar-default main-navbar" role="navigation">
                <div class="container">
                   
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul id="mainNavMenu" class="nav navbar-nav navbar-right aa-main-nav">
                            <li><a href="/">Home</a></li>
                      
                        </ul>
                        <script id="mainNavTemplate" type="text/x-jquery-tmpl">
                            <li><a href='@Url.Content("${Url}")'>${Name}</a></li>
                        </script>

                    </div><!--/.nav-collapse -->
                </div>
            </nav>
        </section>
        <!-- End menu section -->
    </div>
    <!-- End header section -->

    @RenderBody()
    @Html.Partial("_FooterPartialView")
    <br />
    @*@Html.Partial("_Language")*@
    <br />

    @RenderSection("scripts", required: false)
    <!-- jQuery library -->
    <!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
    <script src="~/Scripts/Home/js/jquery.min.js"></script>
    @*<script src="~/Scripts/Home/sell-js/jquery.sticky.js"></script>*@

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/Home/js/bootstrap.js"></script>
    <!-- slick slider -->
    <script type="text/javascript" src="~/Scripts/Home/js/slick.js"></script>
    <!-- Price picker slider -->
    <script type="text/javascript" src="~/Scripts/Home/js/nouislider.js"></script>

    <!-- Custom js -->
    <script src="~/Scripts/Home/js/custom.js"></script>
    @*<script src="~/Scripts/Home/sell-js/css3-animate-it.js"></script>*@

</body>
</html>